.container {
    background-image: url(marvel1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    box-shadow: 5px 10px 8px 10px #888888;
}

.container {
    height: 100vh;
}

.flip-card {
    background-color: transparent;
    perspective: 1000px;
    margin: 0 auto;
}

.flip-card-inner {
    position: relative;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    display: flex;
    width: 350px;
    height: 400px;
    transform: rotateY(180deg);
    background: #343a40;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

h5 {
    color: cyan;
}