body {
    background-color: #343a40;
}

#logo {
    width: 300px;
    height: 80px;
}

.container,
.card-header,
#HOME {
    background: #000000;
}

.links {
    border-bottom: 2px solid #e62429;
    position: sticky;
    top: 0;
    z-index: 100;
}

.row-col {
    position: sticky;
    top: 0;
    z-index: 100;
}


/* liststyles */

ul {
    list-style-type: none;
    overflow: hidden;
}

li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    opacity: 0.6;
}

ul li a {
    padding-bottom: 3px;
}

.activa {
    border-bottom: 2px solid #e62429;
    color: #ffffff;
    opacity: 1;
}

.activa:hover {
    cursor: pointer;
    color: #ffffff;
}

li a:hover:not(.activa) {
    cursor: pointer;
    border-bottom: 2px solid #e62429;
    color: #ffffff;
    opacity: 1;
}

.row-col {
    background: #000000;
    border-top: 2px solid #e62429;
    border-bottom: 2px solid #e62429;
}

.main2,
.main3,
.main4 {
    background: #ffffff;
}

h5 {
    color: cyan;
}

p {
    color: #ffffff;
}

.card-img-top {
    height: 300px;
}

.main {
    height: 65vh;
    width: 60vw;
    margin: auto;
}

#footer {
    background: #000000;
}

#footer a,
#footer i {
    text-decoration: none;
    color: #ffff;
}

#footer .git :hover,
#footer .attribution a:hover {
    color: #dc3545;
}

.col-sm-4 .card {
    transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
    cursor: pointer;
}

.col-sm-4 .card:hover {
    transform: translate(5px, -5px);
    box-shadow: 0px 0px 5px 5px rgba(236, 13, 24, 0.685);
}

.col-sm-4 .card:hover+.card-img-top {
    display: none;
}

.animate {
    animation-name: example;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
}

@keyframes example {
    0% {
        /* transform: translate(40px, 0px); */
        transform: scale(0.5);
    }
    50% {
        /* transform: translate(0px, 0px); */
        transform: scale(1);
    }
    100% {
        /* transform: translate(-40px, 0px); */
        transform: scale(0);
    }
}

/*loader*/
.loader {
    border: 12px solid red;
    border-radius: 50%;
    border-top: 12px solid white;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}